h1,h2{
    color: red
}
body{
text-align: center;
background-color: gray !important;
}

.gift{
    height: 300px;
    width: 300px;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
.project-card{
    width:400px;
}

@media only screen and (max-width: 600px) {
  footer{
      height: 10px;
  }
  }